---
name: Lint and Test Charts

on: pull_request

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      - name: Install helm-unittest
        run: |
          if helm plugin list | sed 1d | awk '{print $1}' | grep -q '^unittest$'; then
            if [ "${{ inputs.install-mode }}" = "if-not-present" ]; then
              echo "Plugin already installed, skipping installation step."
              exit 0
            elif [ "${{ inputs.install-mode }}" != "force" ]; then
              echo "Plugin already installed, aborting."
              exit 1
            fi
          fi
          helm_ut_plugin_version="${{ inputs.unittest-version }}"
          if [ -n "$helm_ut_plugin_version" ] && [ "$helm_ut_plugin_version" != "latest" ]; then
            echo "Installing version $helm_ut_plugin_version of helm-unittest"
            helm plugin install --version "$helm_ut_plugin_version" https://github.com/helm-unittest/helm-unittest >/dev/null 2>/dev/null
          else
            echo "Installing latest version of helm-unittest"
            helm plugin install https://github.com/helm-unittest/helm-unittest >/dev/null 2>/dev/null
          fi
        shell: bash

      # Python is required because `ct lint` runs Yamale (https://github.com/23andMe/Yamale) and
      # yamllint (https://github.com/adrienverge/yamllint) which require Python
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.x

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0
        with:
          version: "3.14.0"
          yamllint_version: "1.37.1"
          yamale_version: "6.0.0"


      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config ct.yaml)
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Run chart-testing (lint)
        run: ct lint --config ct.yaml

      - name: Create kind cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        if: steps.list-changed.outputs.changed == 'true'

      - name: Fetch cloud-provider-kind
        uses: dsaltares/fetch-gh-release-asset@master
        with:
          repo: kubernetes-sigs/cloud-provider-kind
          regex: true
          file: "cloud-provider-kind_.*_linux_amd64\\.tar\\.gz"
          token: ${{ secrets.GITHUB_TOKEN }}
        if: steps.list-changed.outputs.changed == 'true'

      - name: Run cloud-provider-kind
        run: |
          tar zxvf cloud-provider-kind*.tar.gz
          ./cloud-provider-kind &
        if: steps.list-changed.outputs.changed == 'true'

      - name: Run chart-testing (install)
        run: ct install --config ct.yaml
        if: steps.list-changed.outputs.changed == 'true'
